@model TestViewModel

@{
    ViewData["Title"] = "Test View";
}
<h1>heLLO, THIS IS TEST FILE</H1>

<h2>Company name is @Model.Name</h2>

<h3>Here is the description of company : @Model.Description</h3>